.paginas{
    background-color: aqua;
}


.mostrar{
    color: #239fb2;
    font-size:  15px;
    text-decoration: none !important;

}

.nuevo{
    text-decoration: none !important;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-weight: ;
}